.homepage {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: $color-blue-light;

  &__form {
    color: $color-gray-light;
    background: $color-gray-dark;
    padding: 0 10%;
    position: absolute;
    height: 200px;
    top: calc(50% - 175px);
    left:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 350px;

    &__cancel {
      text-align: right;
      color: white;
      font-size: 30px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__arrow {
    display: inline-block;
    position: absolute;
    top: calc(50% - 30px);
    left: -20px;
    width: 60px;
    background-color: white;
    border: 3px solid $color-gray-dark;
    border-radius: 0 50% 50% 0;
    color: black;
    text-align: right;
    line-height: 60px;
    padding-right: 10px;
    box-sizing: border-box;

    &:hover {
      box-shadow: 0 0 10px white;
      cursor: pointer;
    }
  }

  &__iframe {
    width: 100%;
    height: 100vh;
    background-color: white;
  }
}

.form {
  &__input {
    font-size: 7vw;
    line-height: 1;
    display: inline-block;
    width: 100%;
    padding: 0 0 0.1em 0;
    border: 0;
    border-bottom: 4px solid;
    color: inherit;
    background: transparent;
    -webkit-appearance: none;

    &:focus {
      outline: none;
    }

    &::-webkit-input-placeholder,
    &::-moz-placeholder,
    &::-ms-input-placeholder {
      opacity: 0.1;
      color: $color-white;
    }

    &::-webkit-search-cancel-button,
    &::-webkit-search-decoration {
      -webkit-appearance: none;
    }

    &::-ms-clear {
      display: none;
    }
  }

  &__help {
    font-size: 90%;
    font-weight: bold;
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: right;

    @include rem(padding, 13px 0);
  }

  &__button {
    display: inline-block;
    background-color: $color-gray-light;
    color: $color-gray-dark;
    border: 3px solid $color-gray-dark;
    min-width: 100px;
    padding: 10px;
    margin-left: auto;
    font-size: 25px;
    text-transform: uppercase;

    &:hover {
      cursor: pointer;
      background-color: darken($color-gray-light, 5);
    }
  }
}
